/* Общее */

html {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/files/fonts/Inter-Regular.woff2");
}

.link {
    color: #018ad2;
    text-decoration-line: none;
}

.link:hover {
    color: #F36223;
    cursor: pointer;
}

h4 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}


button:hover {
    background: #F2F2F2;
    cursor: pointer;
}

button {
    background: #FFFFFF;
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
}

.headers {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 0px 0px 20px 0px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

/* Заголовок */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 51px;
    gap: 10px;
    width: 1500px;
    height: 80px;
    left: 0px;
    top: 1px;
}

.header_style {
    width: 263px;
    height: 53px;
    left: -3px;
    top: 18px;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}

/* Навигация */

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
    margin-left: 51px;
}

/* Основная страница */

.main-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

/* Заголовок и фото товара */

.product-preview {
    margin-left: 51px;
}

.product-preview__name {
    width: 539px;
    height: 39px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.product-preview__image {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    width: 1396.83px;
    height: 387px;
    left: 50px;
    top: 195px;
}

/* Информация о товаре */

.product-about {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
    margin-bottom: 50px;
    margin-left: 51px;
}

.product-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    padding: 0px;
    margin-top: 30px;
    font-weight: 500;
}

/* Выбор цвета */

.product-info__subsection {
    margin-bottom: 20px;
}

.product-info__color {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-start;
    padding: 0px;
    gap: 10px; 
}

.product-info__choice {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border: 1px solid #888888;
    border-radius: 4px;
    width: 80px;
    height: 80px;
}

.product-info__choice:hover {
    background: #F2F2F2;
    cursor: pointer;
}


.product-info__buttons {
    display: flex;
    flex-direction: columns;
    align-items: center;
    gap: 10px;
    left: 0px;
    top: 178px;
}

.product-info__button_selected {
    border: 2px solid #F36223;
}

/* Список характеристик */

.list-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

li::marker {
    color:#888888;
    font-size: 1.2em;
  }

/* Сайдбар  */

.sidebar {
    margin-top: 30px;
}

.sidebar__buy {
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    width: 420px;
    height: 275px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    align-self: stretch;
}

.sidebar__cost1 {
    width: 66px;
    height: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888;
}

.sidebar__cost2 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.sidebar__old-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    margin-bottom: 14px;
}

.sidebar__discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    width: 31px;
    height: 16px;
    background: #F36223;
    border-radius: 500px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.sidebar__delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 20px;
    font-weight: 400;
    font-size: 16px;
}

.sidebar__button_buy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 49px;
    flex-grow: 1;
    width: 380px;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    align-self: stretch;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: 0;
}

.sidebar__button_buy:hover {
    background: #DA4A0C;
    cursor: pointer;
}

/* Реклама */

.sidebar__frame {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 30px;
    color: #888888;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 420px;
    height: 642px;
}

.sidebar__framelook {
    border: 1px dashed #ccc;
    width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 420px;
    height: 300px;
    background: #F0F0F0;
    border: 1px dashed #888888;
}

.sidebar__framelook1 {
    border: 1px dashed #ccc;
    width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 420px;
    height: 300px;
    background: #F0F0F0;
    border: 1px dashed #888888;
}

/* Таблица */

.table-block {
    margin-bottom: 30px;
}
  
.table-block__table {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid black;
    gap: 15px;
}
  
.table-block__title {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
}
  
.table-block__elements {
    border: 1px solid black;
    padding: 10px;
    border-spacing: 0px;
    text-align: center;
}
  
.table-bottom {
    border-bottom: none;
    border-top: none;
}
  
.table-block__tr_selection:hover {
    background: #F2F2F2;
}
  

/* Отзывы */

.reviews-block {
    width: 100%;
    margin-bottom: 60px;
}

.reviews-block__title {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.reviews-block__head {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviews-block__header {
    font-weight: 700;
    font-size: 24px;
}

.reviews-block__count {
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}

.reviews-block__button {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    gap: 10px;
}

.reviews-block__reviews {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 30px;
}

.reviews-block__border:not(:last-child) {
    border-bottom: 2px dashed #888888;
    margin-bottom: 40px;
}

.reviews-block__review-image {
    height: 140px;
    flex-shrink: no;
}

.reviews-block__review-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.reviews-block__review-reiting {
    display: flex;
    margin-bottom: 20px;

}

.reviews-block__review-star {
    height: 30px;
    border-radius: 1px;
}

.reviews-block__review-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    margin: 0px 0px 40px 0px;
}

/* Форма ввода отзыва */

.review-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    width: 100%;
    padding: 0px 0px 0px 170px;
    font-family: "Inter";
    font-size: 16px;
}

.review-form__header {
    font-weight: 700;
    font-size: 16px;
}

.review-form__first {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    height: 49px;

}

.review-form__second {
    display: flex;
    width: 100%;
    height: 190px;
}    

.review-form__name {
    border: 1px solid #888888;
    padding: 0px;
    text-indent: 20px;
    width: 100%;
}

.review-form__name:hover {
    border: 1px solid #000000;
}

.review-form__reiting {
    width: 175px;
    border: 1px solid #888888;
    padding: 0px;
    text-indent: 20px;
}

.review-form__reiting:hover {
    border: 1px solid #000000;
}

.review-form__text {
    resize: none;
    border: 1px solid #888888;
    font-family: "Inter";
    padding: 10px 20px;
    width: 100%;
}

.review-form__text:hover {
    border: 1px solid #000000; 
}

.review-form__btn {
    padding: 10px 20px;
    gap: 10px;
    background: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 16px;
}

.review-form__btn:hover {
    background: #DA4A0C;
    cursor: pointer;  
}

/* Подвал */

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #F2F2F2;
    padding: 0px 50px;
    margin-top: 50px;
  }
  
  .footer__info {
    margin: 30px 0px;
    font-size: 14px;
  }
  
  .footer__page-name {
    color: #f52
  }
  
  .footer__copyright {
    margin: 0px;
  }
  
  .copyright-bold {
    font-weight: 700;
  }
  

