@media screen and (max-width: 1023px) and (min-width: 360px) {

  .breadcrumbs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
    font-size: 16px;
  }

  .separator {
    color: #F36223;
    margin: 5px;
  }

  .hidden {
    display: none;
  }
}

@media screen and (max-width: 1499px) and (min-width: 1024px) {

  .breadcrumbs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
  }

  .separator {
    color: #F36223;
    margin: 5px;
  }

  .hidden {
    display: none;
  }
}

@media screen and (min-width: 1500px) {

  .breadcrumbs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
  }

  .separator {
    color: #F36223;
    margin: 5px;
  }

  .hidden {
    display: none;
  }
}