/* Общее */

html {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    background: #F8FAFE;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.woff2");
}

.link {
    color: #018ad2;
    text-decoration-line: none;
}

.link:hover {
    color: #F36223;
    cursor: pointer;
}

.link:active {
    color: #A93A09;
}

h4 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}


button:hover {
    background: #F2F2F2;
    cursor: pointer;
}

button:active {
    border: 2px solid #A93A09;
}

button {
    background: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
}



/* Mobile */

@media screen and (max-width: 1023px) and (min-width: 360px) {

    .headers {
        font-weight: 700;
        font-size: 14px;
        padding: 0px 0px 20px 0px;
        width: 100%;
    }

    .container {
        max-width: 360px;
        margin: 0 auto;
        padding: 0px 5px 0px 5px;
        font-size: 10px;
    }

    /* Основная страница */

    /* Заголовок и фото товара */

    .product-preview {
        margin-left: 0px;
    }

    .product-preview__name {
        box-sizing: border-box;
        width: 100%;
        font-weight: 700;
        font-size: 24px;
        color: #000000;
    }

    .product-preview__image {
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        gap: 5px;
        overflow: scroll;
    }

    .product-preview__image-s {
        height: 250px;
    }

    /* Информация о товаре */

    .product-about {
        box-sizing: border-box;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: flex-start;
        padding: 0px;
        margin-bottom: 50px;
    }

    .product-info {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        font-weight: 500;
        margin-top: 30px;
    }

    /* Список характеристик */

    .list-style {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        font-size: 14px;
    }

    li::marker {
        color: #888888;
        font-size: 1rem;
    }

    /* Описание  */

    .product-info__description {
        box-sizing: border-box;
        font-size: 14px;
    }

}

/* Tablet 1024px */

@media screen and (max-width: 1499px) and (min-width: 1024px) {

    .headers {
        font-weight: 700;
        font-size: 16px;
        padding: 0px 0px 20px 0px;
        width: 100%;
    }

    .container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
    }

    /* Основная страница */

    /* Заголовок и фото товара */

    .product-preview {
        margin-left: 0px;
    }

    .product-preview__name {
        box-sizing: border-box;
        width: 539px;
        height: 39px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
    }

    .product-preview__image {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        gap: 5px;
        left: 50px;
        top: 195px;
    }

    .product-preview__image-s {
        height: 270px;
    }

    /* Информация о товаре */

    .product-about {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        margin-bottom: 50px;
    }

    .product-info {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        padding: 0px;
        margin-top: 30px;
        font-weight: 500;
    }

    /* Список характеристик */

    .list-style {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    li::marker {
        color: #888888;
        font-size: 1.2em;
    }
}

/* Laptop >1500px */

@media screen and (min-width: 1500px) {

    .headers {
        font-weight: 700;
        font-size: 16px;
        padding: 0px 0px 20px 0px;
        width: 100%;
    }

    .container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 0px 50px 0px 50px;
        font-size: 1em;
    }

    /* Основная страница */

    /* Заголовок и фото товара */

    .product-preview {
        margin-left: 0px;
    }

    .product-preview__name {
        box-sizing: border-box;
        width: 539px;
        height: 39px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
    }

    .product-preview__image {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        gap: 10px;
        left: 50px;
        top: 195px;
    }

    .product-preview__image-s {
        height: 380px;
    }

    /* Информация о товаре */

    .product-about {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        padding: 0px;
        gap: 100px;
        margin-bottom: 50px;
    }

    .product-info {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        padding: 0px;
        margin-top: 30px;
        font-weight: 500;
    }

    /* Выбор цвета */

    /* Список характеристик */

    .list-style {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    li::marker {
        color: #888888;
        font-size: 1.2em;
    }
}