.link {
  color: #018ad2;
  text-decoration-line: none;
}

.link:hover {
  color: #F36223;
  cursor: pointer;
}

.link:active {
  color: #A93A09;
}

/* .link::before {
  content: ">";
  display: inline-block;
  align-items: center;

} */


