@media screen and (max-width: 1023px) and (min-width: 360px) {
  .choice {
    box-sizing: border-box;
    display: flex;
  }

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #888888;
    border-radius: 4px;
    width: 80px;
    height: 80px;
  }

  .choice:hover {
    background: #F2F2F2;
    cursor: pointer;
  }

  .choice:active {
    border: 2px solid #A93A09;
    border-radius: 4px;
  }

  .button {
    background: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
  }

  .img_selected {
    border: 2px solid #F36223;
    background: transparent;
  }
}

@media screen and (max-width: 1499px) and (min-width: 1024px) {

  .choice {
    box-sizing: border-box;
    display: flex;
  }

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #888888;
    border-radius: 4px;
    width: 80px;
    height: 80px;
  }

  .choice:hover {
    background: #F2F2F2;
    cursor: pointer;
  }

  .choice:active {
    border: 2px solid #A93A09;
    border-radius: 4px;
  }

  .button {
    background: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
  }

  .img_selected {
    border: 2px solid #F36223;
    background: transparent;
  }
}

@media screen and (min-width: 1500px) {

  .choice {
    box-sizing: border-box;
    display: flex;
  }

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #888888;
    border-radius: 4px;
    width: 80px;
    height: 80px;
  }

  .choice:hover {
    background: #F2F2F2;
    cursor: pointer;
  }

  .choice:active {
    border: 2px solid #A93A09;
    border-radius: 4px;
  }

  .button {
    background: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
  }

  .img_selected {
    border: 2px solid #F36223;
    background: transparent;
  }
}