@media screen and (max-width: 1023px) and (min-width: 360px) {

  .reviews-block {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 30px;
  }

  .reviews-block__title {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 25px;
  }

  .reviews-block__head {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .reviews-block__header {
    font-weight: 700;
    font-size: 20px;
  }

  .reviews-block__count {
    font-weight: 700;
    font-size: 20px;
    color: #888888;
  }

  .reviews-block__reviews {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 10px;
    gap: 20px;
  }
} 

@media screen and (max-width: 1499px) and (min-width: 1024px) {

  .reviews-block {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 60px;
  }

  .reviews-block__title {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 25px;
  }

  .reviews-block__head {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .reviews-block__header {
    font-weight: 700;
    font-size: 24px;
  }

  .reviews-block__count {
    font-weight: 700;
    font-size: 24px;
    color: #888888;
  }

  .reviews-block__reviews {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 10px;
    gap: 20px;
  }

}


@media screen and (min-width: 1500px) {

  .reviews-block {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 60px;
  }

  .reviews-block__title {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 25px;
  }

  .reviews-block__head {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .reviews-block__header {
    font-weight: 700;
    font-size: 24px;
  }

  .reviews-block__count {
    font-weight: 700;
    font-size: 24px;
    color: #888888;
  }

  .reviews-block__reviews {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 10px;
    gap: 20px;
  }
}